<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel='stylesheet' href= "../static/styles/main.css?12"/>
</head>
<body>
	<div class='container'>
		<div class='row no-gutters'>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-addon" id="btnGroupAddon">Confirm</span>
            </div>	
		</div>
		<div class="jumbotron">
            <ul>
                <li>Folder</li>
                <li>
                    <ul>
                        <li>aaa.txt</li>
                        <li>Folder</li>
                        <li>
                            <ul>
                                <li>bbb.txt</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
	</div>
</body>
<script>
    // document.querySelector('input[type="file"]').onchange=(e)=>{
    //     console.log(e);
    // };
</script>
</html>